In [1]:
# Import necessary libraries
%matplotlib inline

import folium
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

# Importing the dataset

Using read_html function as a way to scrape wikipedia table however it returns a list of tables it found hence returning only the first table that it seems to be our needs.

In [2]:
# Read all the tables in that page
tables = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
# Getting only the first table as our dataframe
df = tables[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# Cleaning the dataset

Time to clean up our dataset (taking care of missing values) to have only the available boroughs plus assigning neighborhoods to their boroughs in case they were not assigned hence we have no missing values.

In [3]:
# Creating a new DataFrame out of the old one to have only available boroughs
df = pd.DataFrame(df[df["Borough"] != "Not assigned"])
# Replacing neighborhoods "not assigned" to NaN
df["Neighborhood"].replace("Not assigned", np.nan, inplace=True)
# Fill NaN with their corresponding boroughs
df["Neighborhood"].fillna(df["Borough"], inplace=True)
# Reset index and drop the old index column
df.reset_index(inplace=True, drop=True)
# Show first five rows
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

# How many rows we got?

Displaying the number of rows we deduced out of the dataset we scraped and as we can see, 103 rows are extracted.

In [4]:
df.shape

(103, 3)